.layout-gastos{
    background-color: var(--colorPrincipal);
    min-height: 100vh;
    color: white;
}

.cantidad-presupuesto{
    background-color: var(--colorSecundario2);
    text-align: center;
}