.layout-gastos{
    background-color: var(--colorPrincipal);
    min-height: 100vh;
    color: white;
}

.sidebar-col, .presupuesto-col{
    background-color: none;
}

.cantidad-presupuesto{
    background-color: var(--colorSecundario2);
    text-align: center;
}

.modal-form-gastos, .form-gastos{
    background-color: var(--colorPrincipal);
    border-radius: 15px;
}
.app-resumen-gastos{
    background-color: var(--colorPrincipal);
}

@media (min-width: 768px) {
    .app-resumen-gastos{
        height: 100vh;
    }
    .sidebar-col, .presupuesto-col{
        background-color: var(--colorSecundario2)
    }
    .cantidad-presupuesto{
        background-color: transparent;
    }
}
